.App{background-color: #212529;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MovieCard{display:flex;flex-direction: column;align-items: center;background-color:#383d43; width: 35vh;border-radius: 10px;padding-left: 10px; }
.MovieList{  display: flex;flex-wrap: wrap; gap: 20px; ;align-content: center;
}
.Addmovie{background-color: #212529;display: flex; justify-content: center; padding-bottom: 20px;}
.modal-content{background-color: #383d43; color: white;}
.btn-close{background-color: white;}